@model GestaoTarefasIPG.Models.Escola

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Escola</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeEscola)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeEscola)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefone)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.EscolaId" class="btn btn-warning">Editar</a> |
    <a asp-action="Index" class="btn btn-primary">Voltar para a lista das escolas</a>
</div>
