@model EscolasViewModel

@{
    ViewData["Title"] = "Index";
}

<h1 align="center">Escolas</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Criar escola</a>
</p>

@using (Html.BeginForm()) {
    <p align="right">
        @Html.TextBox("searchString")
        <input type="submit" value="Procurar" />
    </p>
}

<table class="table table-info">
    <thead>
        <tr>
           
            <th>Escola</th>
            <th align="center">Telefone</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Escolas) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeEscola)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefone)
                </td>
                <td align="right">
                    <a asp-action="Edit" asp-route-id="@item.EscolaId" class="btn btn-warning">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.EscolaId" class="btn btn-info">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.EscolaId" class="btn btn-danger">Apagar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@for (int i = Model.FirstPageShow; i <= Model.LastPageShow; i++) {
    @if (i == Model.CurrentPage) {
        <a href="#" class="btn btn-primary">@i</a>
    } else {
        <a asp-action="Index" asp-route-page="@i" class="btn btn-outline-info ">@i</a>
    }
}
