@model FuncoesViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-sm btn-success">Create New</a>
</p>
<table class="table table-info">
    <thead>
        <tr>
            <th>Funcoes</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Funcoes) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeFuncao)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.FuncaoId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.FuncaoId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.FuncaoId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@for (int i = Model.PrimeiraPagina; i <= Model.UltimaPagina; i++) {
    @if (i == Model.PaginaAtual) {
        <a href="#" class="btn btn-primary">@i</a>
    } else {
        <a asp-action="Index" asp-route-page="@i" class="btn btn-outline-info ">@i</a>
    }
}
