@model FuncoesViewModel

@{
    ViewData["Title"] = "Index";
}

<h1 align="center">Funções</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Criar Função</a>
</p>

@using (Html.BeginForm()) {
    <p align="right">
        
        @Html.TextBox("searchString")
        <input type="submit" value="Procurar" />
    </p>
}

<table class="table table-info">
    <thead>
        <tr>
            <th>Função</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Funcoes) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeFuncao)
                </td>
                <td align="right">
                    <a asp-action="Edit" asp-route-id="@item.FuncaoId" class="btn btn-warning">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.FuncaoId" class="btn btn-primary">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.FuncaoId" class="btn btn-danger">Apagar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@for (int i = Model.PrimeiraPagina; i <= Model.UltimaPagina; i++) {
    @if (i == Model.PaginaAtual) {
        <a href="#" class="btn btn-primary">@i</a>
    } else {
        <a asp-action="Index" asp-route-page="@i" class="btn btn-outline-info ">@i</a>
    }
}
