
@model DepartamentoVModel


<h1 align="center">Departamentos</h1>

<p>
    <a asp-action="Create" class="btn btn-sm btn-success">Criar Departamento</a>
</p>

@using (Html.BeginForm()) {

<p align ="right">
    <input type="text" name="searchString" value="@Model.StringProcura"  />
    <button type="submit" asp-action="Index" asp-route-page="1" asp-route-searchString="@Model.StringProcura">Procurar</button>
    
</p>
}

<script>
    function sort() {
        let sort = @Model.Sort;
        let stringProcura = '@Model.StringProcura';
        var result = "true".localeCompare(sort);
        console.log('antes - ' + sort);
        if (result == 0) {
            sort = "false";
        } else {
            sort = "true";
        }
        console.log('depois - ' + sort);
        const url = 'https://' + window.location.host + '/Departamento?page=1&sort=' + sort + '&searchString=' + stringProcura;
        console.log('url - ' + url)
        window.location.replace(url);
    }
</script>


<table class="table table table-info">
    <thead>
        <tr>
            <th>
                <a onclick="sort()">Departamento</a>
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        
        @foreach (var item in Model.Departamento)
            {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeDepartamento)
                </td>

                <td align="right">
                    <a asp-action="Edit" class="btn btn-sm btn-warning" asp-route-id="@item.DepartamentoId">Editar</a> |
                    <a asp-action="Details" class="btn btn-sm btn-primary" asp-route-id="@item.DepartamentoId">Detalhes</a> |
                    <a asp-action="Delete" class="btn btn-sm btn-danger" asp-route-id="@item.DepartamentoId">Apagar</a>
                </td>
            </tr>
        }
    </tbody>
</table>


@for (int i = 1; i <= Model.TotPaginas; i++) {

    @if (i == Model.PagAtual) {

        <a href="#" class="btn btn-primary">@i</a>

    } else {

        <a asp-action="Index" asp-route-page="@i" class="btn btn-outline-info">@i</a>
    }
}
