@model DepartamentoVModel

@{
    ViewData["Title"] = "Index";
}

<h1 align="center">Consultar Departamentos</h1>

<p>
    <a asp-action="Create" class="btn btn-sm btn-outline-success">Novo Departamento</a>
</p>
<table class="table table table-info">
    <thead>
        <tr>
            <th>
                NomeDepartamento:
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        
        @foreach (var item in Model.Departamento)
            {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeDepartamento)
                </td>

                <td>
                    <a asp-action="Details" class="btn btn-sm btn-warning" asp-route-id="@item.DepartamentoId">Detalhes</a>
                    <a asp-action="Edit" class="btn btn-sm btn-success" asp-route-id="@item.DepartamentoId">Editar</a> |
                    <a asp-action="Delete" class="btn btn-sm btn-danger" asp-route-id="@item.DepartamentoId">Apagar</a>
                </td>
            </tr>
        }
    </tbody>
</table>


@for (int i = 1; i <= Model.TotPaginas; i++) {

    @if (i == Model.PagAtual) {

        <a href="#" class="btn btn-outline-primary">@i</a>

    } else {

        <a asp-action="Index" asp-route-page="@i" class="btn btn-outline-info">@i</a>
    }
}
