@model IEnumerable<GestaoTarefasIPG.Models.Departamento>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-sm btn-success">Criar Novo Departamento</a>
</p>
<table class="table table table-info">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeDepartamento)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeDepartamento)
            </td>
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.DepartamentoId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.DepartamentoId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.DepartamentoId">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
